$large-breakpoint: 64em !default;
$black: #000000;
$gray: #c1c4ca;
$whie: #ffffff;
$primaryblue: #003c6c;
$primaryyellow: #fdc700;
$secondaryblue: #006aad;
$pacificblue: #13a5dc;
$oceanblue: #007988;
$ucscorange: #f29813;
$ucscgreen: #93c02d;
$rubinered: #da216d;
