.contact-info {
	border-top: solid 1px var(--ucsc-gray);
	padding-top: 1rem;
	h3, p {
		margin-top: 0 
	}
	h3 {
		margin-bottom: 0;}
	p {
		font-size: var(--font-size-sm)
	}
}

.page-content > .contact-info {
		@include large {
			display: none;
		}
		@include medium {
			display: block;
		}
	}