body {
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-lg);
	color: var(--ucsc-black);
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 500;
	color: var(--ucsc-black);
}
.main-content h1 {
	font-size: $font-size-five;
}
.main-content h2 {
	font-size: $font-size-four;
}
.main-content h3 {
	font-size: $font-size-three;
}
.main-content h4 {
	font-size: $font-size-two;
}
.main-content h5 {
	font-size: $font-size-one;
}
.main-content h6 {
	font-size: $font-size-base;
}

a {
    color: var(--ucsc-primary-blue);
    text-decoration-color: var(--ucsc-primary-yellow);
    text-decoration-thickness: .12rem;
    text-underline-offset: .12em
}

a:active,a:focus,a:hover {
    -webkit-text-decoration-skip: ink;
    color: var(--ucsc-secondary-blue);
    text-decoration: underline;
    text-decoration-color: var(--ucsc-primary-yellow);
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .12rem;
    text-underline-offset: .12em
}