body {
	font-family: var(--font-family-base);
	font-size: $font-size-one;
	color: var(--ucsc-black);
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 500!important;
	color: var(--ucsc-black)!important;
}
.main-content h1 {
	font-size: $font-size-five;
	@include medium {
		font-size: $font-size-five
	}
	@include large {
		font-size: $font-size-five
	}
}
.main-content h2 {
	font-size: $font-size-four;
	@include medium {
		font-size: $font-size-four
	}
	@include large {
		font-size: $font-size-four
	}
}
.main-content h3 {
	font-size: calc($font-size-three / 0.3);
	@include medium {
		font-size: $font-size-three;
	}
	@include large {
		font-size: $font-size-three
	}
}
.main-content h4 {
	font-size: $font-size-two;
	@include medium {
		font-size: $font-size-two
	}
	@include large {
		font-size: $font-size-two
	}
}
.main-content h5 {
	font-size: $font-size-one;
	@include medium {
		font-size: $font-size-one
	}
	@include large {
		font-size: $font-size-one
	}
}
.main-content h6 {
	font-size: $font-size-base;
	@include medium {
		font-size: $font-size-base
	}
	@include large {
		font-size: $font-size-base
	}
}

a {
    color: var(--ucsc-primary-blue);
    text-decoration-color: var(--ucsc-primary-yellow);
    text-decoration-thickness: .12rem;
    text-underline-offset: .12em
}

a:active,a:focus,a:hover {
    -webkit-text-decoration-skip: ink;
    color: var(--ucsc-secondary-blue);
    text-decoration: underline;
    text-decoration-color: var(--ucsc-primary-yellow);
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .12rem;
    text-underline-offset: .12em
	}

details {
	position: relative;
	display: block;
	border: 1px solid var(--ucsc-gray);
	padding: 0.5em 0.5em 0;
	@include large {
		display:none;
		margin:0;
		padding: 0;
		height: 0;
	}
}

details summary {
	box-sizing: border-box;
	width: 100%;
	padding-left: 1.5rem;
	list-style: none;
	cursor: pointer;
	transition: font-weight 0.2s ease-in-out;
}

details summary::-webkit-details-marker {
	display: none;
}

details summary::before {
	content: "";
	position: absolute;
	left: 0;
	background: transparent url(../images/arrow.svg) no-repeat 50% 50% / 1em 1em;
	width: 1.5em;
	height: 1.5em;
	transition: transform 0.1s linear;
}

details summary:focus,
details summary:hover {
	outline: none;
	color: var(--ucsc-primary-blue);
}

details[open] > summary {
	font-weight: 600;
}

details[open] summary::before {
	transform: rotate(90deg);
}