.page-header {
	color: var(--ucsc-black);
	background: none;
	border-bottom: 1px solid var(--ucsc-primary-yellow);
	text-align: left;
	margin: 0 auto;
	@include large {
    max-width: 80rem;
		padding: 0;
		margin: calc(1.44rem*2.25) auto 0;
  }
}