.page-header {
	color: var(--ucsc-black);
	background: none;
	border-bottom: 1px solid var(--ucsc-primary-yellow);
	margin: 0 auto;
	text-align:center;
	@include medium {
			text-align: left;
		}
	@include large {
    max-width: 80rem;
		text-align: left;
		padding: 0;
		margin: calc(1.44rem*2.25) auto 0;
  }
	.project-name {
		& > a {
			color: var(--ucsc-black);
			text-decoration: none;
		}
	}
}