.page-header {
	color: var(--ucsc-primary-blue);
	background: none;
	border-bottom: 1px solid var(--ucsc-primary-yellow);
	text-align: left;
	@include large {
    max-width: 80rem;
		padding: 0;
		margin: 0 auto;
  }
	}