.main-content {
	@include large {
    max-width: 80rem;
		padding: 2rem 0;
  }
}

.page {
	display: flex;
	flex-direction: row;
	@include small {
    flex-direction:column-reverse;
  }
	.page-content {
		flex: 66.66%;
	}
	.page-sidebar {
		flex: 33.33%;
		padding-left: 1.5rem;
		@include small {
			padding-left: 0px;
		}
	}
}

.topbutton {
	height: 50px;
	width: 50px;
	position: fixed;
	right: 15px;
	bottom: 30px;
	z-index: 99999;
	background-repeat: no-repeat;
	visibility: hidden;
	// display: none;
	.fa {
		color: var(--ucsc-white);
		background-color:var(--ucsc-primary-yellow);
		padding: 0 5px 5px;
		border-radius:50%;
	}
}