.main-content {
	@include large {
    max-width: 80rem;
		padding: 2rem 0;
  }
}

.page {
	display: flex;
	flex-direction: row;
	.page-content {
		flex: 66.66%;
	}
	.page-sidebar {
		flex: 33.33%;
		padding-left: 1.5rem;
	}
}

.topbutton .fa {
	color: var(--ucsc-white);
	background-color:var(--ucsc-primary-yellow);
	padding: 0 5px 5px;
	border-radius:50%;
}