.trss-ucsc-header > .trss-row__inner, header, main, .trss-ucsc-footer > .trss-ucsc-footer__inner {
	padding-left: $ucsc-spacer!important;
	padding-right: $ucsc-spacer!important;}

.main-content {
	@include large {
    max-width: 80rem;
		padding: 2rem 0;
  }
}

.page {
	display: flex;
	flex-direction: column;
	@include large {
    flex-direction:row;
  }
	.page-content {
		flex: 100%;
		@include large {
			flex: 66.66%;
		}
	}

	.page-sidebar {
		display: none;
		@include large {
			display:block;
			flex: 33.33%;
			padding-left: 1.5rem;
		}
		
	}
}

.topbutton {
	height: 50px;
	width: 50px;
	position: fixed;
	right: 15px;
	bottom: 30px;
	z-index: 99999;
	background-repeat: no-repeat;
	visibility: hidden;
	// display: none;
	.fa {
		color: var(--ucsc-white);
		background-color:var(--ucsc-primary-yellow);
		padding: 0 5px 5px;
		border-radius:50%;
	}
}