.page-title {
	@include small {
		margin-top: 0!important;
	}
}

.page-content {
	.above {
		@include large {
			display: none;
		}
	}
	.to-the-right {
		display:none;
		@include large {
			display:inline;
		}
	}
}