//Font sizes
$font-size-small: 0.833rem;
$font-size-medium: 20px;
$font-size-large: 36px;
$font-size-x-large: 42px;
$font-size-base: 1rem;
$font-size-one: 1.2rem;
$font-size-two: 1.44rem;
$font-size-three: 1.728rem;
$font-size-four: 2.074rem;
$font-size-five: 2.488rem;
$font-size-six: 2.986rem;
$font-size-seven: 3.583rem;
$font-size-eight: 5.16rem;
